<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <a href="/">main</a>
    <a href="/users">users</a>
</div>
<hr>
<div>
    <h1 th:text="${user.getName()}">VALUE</h1>
    <span>User ID: </span>
    <span th:text="${user.getId()}">VALUE</span>
</div>
<div>
    <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
    <form th:action="@{/users/{id}(id=${user.getId()})}" th:method="DELETE">
        <input type="submit" value="Delete"/>
    </form>

</div>
</body>
</html>