<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<div>
    <a href="/">main</a>
    <a href="/users">users</a>
</div>
<hr>
<div>
    <a href="/users/new">create user</a>
</div>
<form method="get" th:action="@{/users}">
    <label for="count">Count: </label>
    <input type="number" id="count" name="count" min="1" th:value="${count}">
    <button type="submit">Ok</button>
</form>
<ul>
    <li th:each="user : ${users}">
        <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>
    </li>
</ul>
</body>
</html>