<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<div>
    <a href="/">main</a>
    <a href="/users">users</a>
</div>
<hr>


<hr>
<div th:each="user : ${users}">
    <a th:href="@{/users/{id}(id=${user.getId()})}"
       th:text="${user.getName() + ' ' + user.getSurname()}">user</a>
    <p th:text="${'ID: ' + user.getId() + '. email: ' + user.getEmail()}"></p>
    <hr>
</div>


<form method="get" th:action="@{/users}">
    <label for="count">Count User on page: </label>
    <input id="count" min="1" name="count" th:value="${count}" type="number">
    <button type="submit">Ok</button>
</form>

<hr>

<form action="/users/new" target="_blank">
    <button>Create NEW User</button>
</form>
</body>
</html>