<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
<div>
    <a href="/">main</a>
    <a href="/cars">cars</a>
</div>
<hr>
<div>
    <h1 th:text="${car.getModel()}">VALUE</h1>
    <span>Car ID: </span>
    <span th:text="${car.getId()}">VALUE</span>
</div>
<div>
    <a th:href="@{/cars/{id}/edit(id=${car.getId()})}">Edit</a>
    <form th:method="DELETE" th:action="@{/cars/{id}(id=${car.getId()})}">
        <input type="submit" value="Delete"/>
    </form>

</div>
</body>
</html>